<!DOCTYPE html>
<html>
<head>
    <title> Radio Reveil </title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/slider.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/js/sound.js"></script>
    <script src="/static/js/bootstrap-slider.js"></script>
    <!link href="/static/img/PiIcon.ico" rel="icon" />
    <!link href="/static/img/PiIcon.png" rel="shortcut icon" />
    <!link rel="apple-touch-icon" href="/static/img/PiIconiOS.png"/>
    <!link rel="stylesheet" href="/static/font-awesome-4.2.0/css/font-awesome.min.css">
    <style>
.col-centered{
    float: none;
    margin: 0 auto;
}
    </style>
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2" ></div>
            <div class="col-md-4" >
                <div class="well">
                    <p>
                        <h1>
                            <i class="glyphicon glyphicon-music">
                            </i>
                        </h1>
                    </p>
                    <p>
                        <span class="label label-info">Controles</span>
                        <div class="btn-group">

                        <button type="button" class="btn btn-success" id="music-play">
                            <i class="glyphicon glyphicon-play">
                            </i>
                        </button>
                        <button type="button" class="btn btn-danger" id="music-stop">
                            <i class="glyphicon glyphicon-stop">
                            </i>
                        </button>
                        <div class="btn-group">
                            <button id="trackbutton" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                alarm
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" id="track">
                                {% for track in tracks %}
                                <li><a href="#">{{track}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    </p>
                    <p>
                        <span class="label label-info">Volume</span>
                        <input type="text" class="span2" value="4" id="volume-slider" data-slider-min="20" data-slider-max="100" data-slider-step="10" data-slider-value="50">
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                 <div class="well">
                     <p>
                         <h1>
                            <i class="glyphicon glyphicon-tint">
                            </i>
                        </h1>
                     </p>
                     <p>
                    <span class="label label-info">Temperature</span>
                    </p>
                        <p>
                    <span class="label label-info">Humidite</span>
                    </p>
                    </i>
                </div>
            </div>
            <div class="col-md-2" ></div>

        </div>
        <div class="row">
            <div class="col-md-2" ></div>
            <div class="col-md-8" >
                <div class="well">
                    <p>
                    <span class="label label-info">Prochaine Alarme Nicolas</span>
                    </p>
                    <p>
                    <span class="label label-info">Prochain Alarme Nathalie</span>
                    </p>
                </div>
            </div>
            <div class="col-md-2" ></div>
        </div>
         <div class="row">
            <div class="col-md-1" ></div>
            <div class="col-md-10" >
                <h1>Calendar</h1>
                <div class="table-responsive">
                    {% include 'schedule.html' %}
                </div>
            </div>
            <div class="col-md-1" ></div>
        </div>

        </div>
    </div>

</body>


</html>

<script>
    var currentTrack = 'alarm'

    $( document ).ready( function(){

        $('#volume-slider').slider({

          formatter: function(value) {
            return 'Current value: ' + value;
          }
        });

        refresh_play_state()
    });

    $('#music-play').click( function(){
        play_track(currentTrack)
        }
    );

    $('#music-stop').click( function(){
        stop_track()
        }
    );

    $("#track li a").click( function() {
        $("#trackbutton").html($(this).text() + ' <span class="caret"></span>');
        $("#trackbutton").val($(this).data('value'));
        currentTrack = $(this).text();
    });

    $('#volume-slider').slider()
      .on('slideStop', function(ev){
        set_volume( parseInt($(this).val(), 10));
      });
</script>