<!DOCTYPE html>
<html>
<head>
    <title> Radio Reveil </title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/js/sound.js"></script>
    <!link href="/static/img/PiIcon.ico" rel="icon" />
    <!link href="/static/img/PiIcon.png" rel="shortcut icon" />
    <!link rel="apple-touch-icon" href="/static/img/PiIconiOS.png"/>
    <!link rel="stylesheet" href="/static/font-awesome-4.2.0/css/font-awesome.min.css">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-6 text-center" >
            <div class="well">
                <p>
                    <i class="glyphicon glyphicon-music">

                    </i>
                </p>
                <p>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" id="music-play">
                            <i class="glyphicon glyphicon-play">

                            </i>
                        </button>
                        <button type="button" class="btn btn-primary" id="music-stop">
                          <i class="glyphicon glyphicon-stop">

                          </i>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Chaine
                              <span class="caret"></span></button>
                              <ul class="dropdown-menu">
                                <li><a href="#">Music1</a></li>
                                <li><a href="#">Music2</a></li>
                              </ul>
                            </div>
                      </button>

                    </div>
                </p>

            </div>
        </div>
        <div class="col-md-6">
             <div class="well">
                <i class="glyphicon glyphicon-tint">

                </i>
            </div>
        </div>
    <div class="row">
        Calendrier Alarme
    </div>

</div>
    </div>




</body>


</html>

<script>
 $( document ).ready( function(){
       refresh_play_state()
    });

    $('#music-play').click(function(){

    alert('play')
    $.post("/play_request",{nothing: false},
    function(){
        alert("playing");
    });
});
</script>