<table class="table table-condensed table-striped table-bordered">
    <thead>
    <tr>
        <th style="width: 12%">Heure</th>
        {% for day in week_days %}
        <th style="width: 12%">{{day}}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for hour in range(24) %}
    <tr>
        <td>{{hour|string}}</td>
        {% for day in week_days  %}
        <td {{ "class=info" if hour>=6 and hour<=10}}>
        {% if schedule[day][hour]['nath'] %}
        <img src=/static/img/alarmred.jpeg height="20" width="20">
        {% endif %}
        {% if schedule[day][hour]['nico'] %}
        <img src=/static/img/alarmblue.jpeg height="20" width="20">
        {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>