<table class="table table-condensed table-striped table-bordered">
    <thead>
    <tr>
        <th style="width: 12%">Heure</th>
        {% for day in week_days %}
        <th style="width: 12%">{{day}}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for hour in range(24) %}
    <tr>
        <td>{{hour|string}}:00</td>
        {% for day in week_days  %}
        <td {{"class=info" if hour>=6 and hour<=10}}>
        {% if schedule[day][hour]['nath']['state'] %}
        <a href="#" data-toggle="tooltip" title={{schedule[day][hour]['nath']['time']}}>
            <img src=/static/img/alarmred.jpeg height="20" width="20">
        </a>
        <button class="edit_alarm" class="btn" value={{schedule[day][hour]['nath']['id']}}>
             <i class="glyphicon glyphicon-edit"></i>
        </button>
        {% endif %}
        {% if schedule[day][hour]['nico']['state'] %}
        <a href="#" data-toggle="tooltip" title={{schedule[day][hour]['nico']['time']}}>
            <img src=/static/img/alarmblue.jpeg height="20" width="20">
        </a>
         <button class="edit_alarm" class="btn" value={{schedule[day][hour]['nico']['id']}}>
             <i class="glyphicon glyphicon-edit"></i>
         </button>
        {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>

<script>
$(".edit_alarm").click( function(){

    $.get("/alarm",{id: $(this).val()}
            ,function(data,status){
                $("#alarm_edit_dlg_body").html(data);
            });
   $('#alarm_edit_dlg').modal('show');
});

</script>